* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: Calibri, sans-serif;
}
.btn {
  background-color: transparent;
  padding: 12px 15px;
  border-radius: 1px;
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.btn:first-child {
  margin-right: 10px;
}
.btn--blue {
  background-color: #3880f4;
  border: 2px solid #3880f4;
  color: #fff;
}
.btn--blue-border {
  border: 2px solid #3880f4;
  color: #3880f4;
}
.header {
  background-color: #fff;
}
.header__container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 36px 10px;
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: 86px;
  margin-left: auto;
}
.navigation__list {
  display: flex;
}
.navigation__item {
  margin-right: 37px;
}
.navigation__item:first-child{
    position: relative;
}
.navigation__item:first-child:before{
    position: absolute;
    top: -6px;
    content: '';
    width: 33.75px;
    height: 6.25px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    background-color:  #99F2DC;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__link--blue{
    color: #3880f4;
}
.navigation__link:hover {
  transition: 0.3s;
  color: #3880f4;
}




.welcome {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    41.84deg,
    #3880f4 39.72%,
    #0cb5f6 65.67%,
    #b0e9ff 87.62%
  );
}
.welcome:before{
    content: '';
    position: absolute;
    width: 165px;
    height: 165px;
    bottom: -50px;
    left: 63%;
    background: url(/images/с.svg);
}
.welcome__container{
    padding: 136px 0 92px 66px;
    max-width: 1328px;
    margin: 0 auto;
}
.welcome__top{
    position: relative;
}
.welcome__top:before{
    content: url(./images/Group\ 982.svg);
    position: absolute;
    right: 0;
    top: -70px;
}
.conf-date{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 36px;
}
.conf-slogan{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.svg-icon--beaver{
    position: absolute;
    width: 108px;
    height: 65px;
    top: -45px;
    right: 170px;
}
.conf-slogan__row{
    background-color: #99F2DC;
    font-size: 60px;
    color: #000;
    font-weight: 700;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    padding-left: 16px;
    text-transform: uppercase;
}
.conf-slogan__row--small{
    width: 86%;
}
.conf-slogan__row:last-child{
    padding-right: 93px;
}
.conf-slogan .pop-up-phrase{
    position: absolute;
    top: -87px;
    right: 135px;
    padding: 3px 5px;
    background-color: #99F2DC;
    font-size: 16px;
    font-weight: 700;
}
.conf-slogan .pop-up-phrase:before{
    content: '';
    position: absolute;
    top: 25px;
    right: 102px;
    width: 0;
	height: 0;
	border-top: 10px solid  #99F2DC; 
    border-right: 11px solid transparent;
    border-bottom-left-radius: 1px;
}
.conf-desc{
    margin-bottom: 98px;
    max-width: 425px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.conf-adress{
    display: flex;
    margin-bottom: 95px;
}
.conf-adress__build{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}
.conf-adress__desc{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.svg-pic{
    width: 24px;
    height: 29px;
    margin-right: 9px;
}
.svg-pic--location{
    margin-top: 5px;
    max-width: 100%;
    max-height: 100%;
    fill: #99F2DC;
}
.welcome__middle{
    margin-bottom: 84px;
}
.facts{
    display: flex;
    justify-content: space-between;
}
.facts__item{
    max-width: 260px;
    margin-right: 30px;
}
.facts__item:last-child{
    margin-right: 0;
}
.facts__value{
    font-size: 120px;
    font-weight: 700;
    color: #99F2DC;
}
.facts__desc{
    font-size: 20px;
    font-weight: 400;
    color: #C5E8F8;
}
.welcome__bottom{
    display: flex;
    justify-content: space-between;
}
.principles{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    max-width: 720px;
}
.support{
    position: relative;
    right: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1A64DA;
    cursor: pointer;
}
.support__icon{
    position: relative;
    width: 42px;
    height: 27.5px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 1px;
    color: #1A64DA;
}
.support__icon:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
	height: 0;
	border-top: 14.5px solid  #fff; 
    border-right: 13px solid transparent;
    border-bottom-left-radius: 1px;
}



.program{
    position: relative;
}
.program:before{
    content: '';
    position: absolute;
    width: 240px;
    height: 172px;
    top: 56px;
    left: 63%;
    background: url(/images/с1.svg);
}
.program:after{
    content: '';
    position: absolute;
    width: 516px;
    height: 145px;
    bottom: 300px;
    left: 9%;
    background: url(/images/Group\ 1090.svg);
    z-index: -1;
}
.program__container{
    padding: 100px 10px;
    max-width: 1220px;
    margin: 0 auto;
}
.title{
    position: relative;
    font-size: 52px;
    font-weight: 700;
    color: #000;
    margin-bottom: 60px;
}
.title:before{
    position: absolute;
    top: -6px;
    content: '';
    width: 91px;
    height: 15px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    background-color:  #99F2DC;
}
.subtitle{
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    color: #000;
}
.info{
    width: 260px;
    margin-bottom: 20px;
    font-weight: 400;
}
.more-info{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #3880F4;
}
.more-info__text{
    margin-right: 10px;
}
.more-info__icon{
    position: relative;
    margin-top: 3px;
    width: 15px;
    height: 1px;
    background-color: #3880F4;
}
.more-info__icon:before{
    position: absolute;
    content: '';
    width: 4px;
    height: 1px;
    background-color: #3880F4;
    right: -1px;
    top: 1px;
    transform: rotate(135deg);
}
.more-info__icon:after{
    position: absolute;
    content: '';
    width: 4px;
    height: 1px;
    background-color: #3880F4;
    right: -1px;
    top: -1px;
    transform: rotate(45deg);
}
.svg-icon--arrow{
    max-width: 100%;
    max-height: 100%;
    fill: #3880F4;
}
.program__list{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.program__item{
    display: flex;
}
.program__item:last-child{
    position: relative;
}
.program__item:last-child:before{
    content: '';
    position: absolute;
    width: 290px;
    height: 206px;
    top: -105px;
    left: 73%;
    background: url(/images/с2.svg);
    z-index: -1;
}
.program__item--row{
    margin-right: 135px;
    max-height: 400px;
}
.program__item--row .program__photo{
    max-width: 300px;
    max-height: 400px;
    margin-right: 35px;
}
.program__item--row .program__desc{
    padding-top: 35px;
}
.program__item--column{
    position: relative;
    flex-direction: column;
    top: 83px;
}
.program__item--column .program__photo{
    max-width: 400px;
    max-height: 300px;
    margin-bottom: 35px;
}
.program__item--column .program__desc{
    padding-left: 35px;
}
.program__item--reverse:first-child{
    position: relative;
    top: 25px;
}
.program__item--reverse:last-child{
    position: relative;
    left: 50%;
    bottom: 140px;
}
.program__item--reverse:last-child .program__desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.program__item--reverse .program__photo{
    max-width: 400px;
    max-height: 300px;
    margin-left: 35px;
}
.program__item--reverse:last-child .program__photo{
    max-width: 300px;
    max-height: 400px;
}
.program__desc{
    max-width: 260px;
    font-size: 16px;
    font-weight: 400;
}
.program__photo{
    flex-shrink: 0;
}
.program__pic{
    max-width: 100%;
    max-height: 100%;
}



.person__container{
    padding: 100px 10px;
    max-width: 1220px;
    margin: 0 auto;
}
.person__title{
    max-width: 450px;
    margin-bottom: 10px;
}
.person__subtitle{
    max-width: 400px;
    margin-bottom: 80px;
    font-size: 16px;
    font-weight: 400;
}
.person__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -77px;
}
.person__item{
    margin-right: 66px;
    margin-top: 77px;
}
.person__item:nth-child(4n){
    margin-right: 0;
}
.person__item:last-child{
    margin-right: 0;
}
.person__name{
    display: block;
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.person__name:hover{
    transition: 0.3s;
    color: #3880F4;
}
.person__company{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.person__img{
    position: relative;
    max-width: 250px;
    max-height: 228px;
    margin-bottom: 20px;
}
.person__img .svg-icon--beaver{
    top: -7px;
    right: 95px;
    z-index: -1;
}
.person__img .pop-up-phrase{
    position: absolute;
    top: -41px;
    right: 70px;
    padding: 3px 5px;
    background-color: #99F2DC;
    font-size: 16px;
    font-weight: 700;
}
.person__img .pop-up-phrase:before{
    content: '';
    position: absolute;
    top: 25px;
    right: 93px;
    width: 0;
	height: 0;
	border-top: 10px solid  #99F2DC; 
    border-right: 11px solid transparent;
    border-bottom-left-radius: 1px;
}
.person__pic{
    max-width: 100%;
    max-height: 100%;
}
.socials__list{
    display: flex;
}
.socials__item{
    width: 22px;
    height: 22px;
    margin-right: 11px;
    cursor: pointer;
}
.socials__item:last-child{
    margin-right: 0;
}
.socials__icon{
    max-width: 100%;
    max-height: 100%;
}
.socials__icon{
    fill: #E0E0E0;
    border-radius: 3px;
}
.socials__icon--fb:hover{
    fill: #3B5999;
    transition: .3s;
}
.socials__icon--vk:hover{
    fill: #3880F4;
    transition: .3s;
}
.socials__icon--inst:hover{
    fill: #C13584;
    transition: .3s;
}
.socials__icon--tg:hover{
    fill:#3B5999;
    transition: .3s;
}
